<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{lead.first_name}}</title>
  <style>
    .lead {
      padding: 10px 6px;
      margin-top: 10px;
      background-color: #f6f6f6;
      width: 100%;
    }
  </style>
</head>
<body>
    <div class="lead">
      <a href="{% url 'leads:lead-list' %}">Go back to leads</a>
      <hr>
      <h1>This is the details of {{lead.first_name}}</h1>
      <p>This person age: {{lead.age}}</p>
      <p>The person responsible for this lead is {{lead.agent}}</p>
    </div>
    <hr>
    <a href="{% url 'leads:lead-update' lead.pk %}">Update</a>
    <a href="{% url 'leads:lead-delete' lead.pk %}">Delete</a>
</body>
</html>